<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<th:block th:if="${#lists.isEmpty(contacts)}">
 <h1>Contacts is empty!</h1>
</th:block>
<th:block th:unless="${#lists.isEmpty(contacts)}">
    <h1>My Contact</h1>
    <div class="container">
     <div class="col-md-9">
      <table class="table table-striped">
       <thead>
        <tr >
           <th>Id</th>
           <th>Name</th>
           <th>Email</th>
           <th>Address</th>
           <th>Actions</th>
        </tr>
        <tr th:each="contact,iterStat:${contacts}">
           <td th:text="${contact.id}"></td>
           <td th:text="${contact.name}"></td>
           <td th:text="${contact.email}"></td>
           <td th:text="${contact.address}"></td>
           <td>
             <a th:href="@{/edit?id=${contact.id}}">Edit</a><span>|</span>
             <a th:href="@{/delete?id=${contact.id}}">Delete</a>
           </td>
        </tr>
       </thead>
      </table>
     </div>
    </div>
    </th:block>
</body>
<footer th:fragment="footer"></footer>
</html>